body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to bottom, #003125, #00816c, #00bd8e, #003125);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bfffe9;
  user-select: none;
}

.card {
  background: #003228;
  width: 90%;
  max-width: 380px;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 255, 200, 0.25);
}

.logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 15px;
}

h2 {
  margin: 10px 0 20px;
  font-size: 24px;
  font-weight: bold;
  color: #bfffe9;
}

textarea {
  width: 92%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  background: transparent;
  border: 2px solid #00e6c3;
  color: #bfffe9;
  font-size: 15px;
  resize: none;
  overflow: hidden;
  min-height: 60px;
}

textarea::placeholder {
  color: #bfffe9;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
  color: white;
}

.btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background: #00e6c3;
  color: black;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background: #11ffee;
  box-shadow: 0 0 12px #11ffee;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(12, 12, 12);
  padding: 22px;
  width: 260px;
  border-radius: 12px;
  text-align: center;
  border: 2px solid #00e6c3;
  box-shadow: 0 0 15px #00e6c3;
  z-index: 999;
}

#popup button {
  margin-top: 12px;
  padding: 10px 22px;
  border: none;
  border-radius: 8px;
  background: #00e6c3;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
