body {
  margin: 0;
  background: linear-gradient(to bottom, #003125, #00816c, #00bd8e, #003125);
  font-family: "Montserrat", sans-serif;
}

.title {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-top: 40px;
}

/* MAIN GRID */
.wallet-container {
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
}

/* CARDS */
.wallet-card {
  background: #003228;
  border-radius: 6px;
  padding: 25px 5px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: 0.25s;
}

.wallet-card:hover {
  border: 2px solid #11ffee;
  box-shadow: 0 0 12px #11ffee;
}

.wallet-card img {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
  border-radius: 50px;
}

.wallet-card p {
  font-size: 18px;
  font-weight: bold;
}

/* ==========================
      RESPONSIVE SETTINGS
   ========================== */

/* Large Tablets - 4 Columns */
@media (max-width: 1200px) {
  .wallet-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Tablets - 3 Columns */
@media (max-width: 900px) {
  .wallet-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Mobile - 2 Columns */
@media (max-width: 600px) {
  .wallet-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .title {
    font-size: 30px;
  }
}

/* Small Mobile - 1 Column */
@media (max-width: 400px) {
  .wallet-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-box {
  background: #003228;
  padding: 20px;
  width: 80%;
  border-radius: 8px;
  text-align: center;
  color: white;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background: #006b56;
  border-radius: 20px;
  margin: 10px 0;
}

#progressFill {
  height: 100%;
  width: 0%;
  background: #00ffcc;
  border-radius: 20px;
  transition: 0.2s;
}

.popup button {
  margin-top: 10px;
  padding: 10px;
  background: #00cda6;
  color: #003228;
  font-weight: bold;
  border: none;
  border-radius: 6px;
}

/* Wallet card buttons */
.wallet-card button {
  margin-top: 8px;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  background: #004c3d;
  color: white;
  cursor: pointer;
  transition: 0.25s;
}

/* Space between buttons */
.wallet-card button + button {
  margin-top: 12px;
}

/* Hover Glow Animation (SAME AS CARD) */
.wallet-card button:hover {
  border: 2px solid #11ffee;
  box-shadow: 0 0 12px #11ffee;
  transform: scale(1.03);
}
